*{
    padding: 0;
    margin: 0;
  }
body {
     /* background-color: #566; */
    height: 100vh;
    background: linear-gradient(
    to right,
    rgb(187, 36, 61) 0%,
    pink 50%,
    rgb(175, 219, 219) 50%,
    #03ecd5 100%
    );
    display: flex;
   justify-content: center;
   align-items: center;
}
.hpf{
    margin-top: 30px;
    margin-bottom: 2rem;
    text-align: center;
    font-size: xxx-large;
}
.container-fluid {
    background-color: white;
}

.pull-right img-thumbnail {
    margin-top: -10px;
    margin-bottom: 10px;
}

.banner-img {
    margin-bottom: 20px
}

.navbar {
    margin-bottom: 0;
    background-color: lightblue;
    
}
.nav-item {
    font-family: 'Gill Sans';
    font-style: initial;
    font-size: 14px;
}

.product-img {
    width: 70%;
}

.move-right{
    margin-left: 410px;
}
.pull-right{
    font-size: x-large;
    
}

.weight{
    /* max-width: 70%; */
    height: 110%;
    width: 120%;  
    margin-left: -370px;
}
